body {
    background-color: #eeeeee;
    color: #6f6f6f;

    /* Código adicional do exercício de layouts com CSS abaixo */
    margin: 0px;
}

header {
    background-color: white;

    /* Código adicional do exercício de layouts com CSS abaixo */
    height: 80px;
    padding-right: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    /* Código adicional do exercício de layouts com CSS */
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 0px;
    margin-bottom: 100px;
}

footer {
    background-color: white;

    /* Código adicional do exercício de layouts com CSS abaixo */
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    padding: 5px;
}

h1 {
    background-color: #ff4020;
    color: white;
    font-size: 2em;

    /* Código adicional do exercício de layouts com CSS abaixo */
    margin-top: 0px;
}

nav a {
    font-size: 1rem;
    font-family: Arial, Helvetica, "sans serif";
    font-weight: bold;
    text-decoration: none;

    /* Código adicional do exercício de layouts com CSS abaixo */
    background-color: #ededed;
    border: 1px solid #bbbbbb;
    padding: 5px;
    margin: 1px;
}

nav a:link, a:visited {
    color: #6f6f6f;
}

nav a:hover {
    color: #ff4020;
    text-decoration: underline;
}

nav a:active {
    color: blue;
    text-decoration: underline;
}

.titulo-article {
    color: royalblue;
}

#link-email:link, #link-email:visited {
    color: blue;
    text-decoration: none;
}

#link-email:hover {
    color: #ff4020;
    text-decoration: underline;
}

#link-email:active {
    color: blue;
    text-decoration: none;
}